.examresult {
	text-align:center;
	font-weight:bold;
	background-image:none;
}

.examresult.failed {
	color:white;
	background-color:red !important;
}

.examresult.very_good {
	color:white;
	background-color:green !important;
}

.examresult.good {
	background-color:lightgreen !important;
}

.examresult.average {
	background-color:yellow !important;
}

.examresult.sufficient {
	background-color:orange !important;
}


